# Игнорировать скомпилированные файлы Go
/bin/
*.o
*.a

# Игнорировать папку, где сохраняются временные файлы Go
/pkg/

# Игнорировать файлы конфигурации редакторов и IDE
/.vscode/
/.idea/
*.swp
*.swo

# Игнорировать локальные файлы конфигурации
/.env
/.env.local

# Игнорировать логи, кеш и временные файлы
*.log
*.tmp
*.temp

# Игнорировать скомпилированные файлы и папки
/dist/

# Игнорировать специфичные для операционных систем файлы
.DS_Store
Thumbs.db

# Игнорировать файлы отладки
*.debug
*.pid
*.heap